# {{ansible_managed}}

[Unit]
Description=Kafka
After=network.target
Wants=network.target

[Service]
Type=simple
User=kafka
Group=kafka
EnvironmentFile=/etc/default/kafka
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/server.properties
ExecStop={{ kafka_dir }}/bin/kafka-server-stop.sh {{ kafka_dir }}/config/server.properties
Restart=always

[Install]
WantedBy=multi-user.target
